{% extends "base.html" %}

{% block title %} {% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/arenas.css' %}">
    <section class="main-arena">
        <h2>CHOOSE YOUR ARENA<br>BEGIN YOUR RISE</h2>
        <p>Only 100 Leaderboard Spots Per Arena<br>Will You Claim One?</p>

        <div class="arena-cards">
            <div class="each-card">
                <h4>Recruit<br>Arena</h4>
                <h3>$15</h3>
                <p>This is dummy text for now. This is dummy text for now. This is dummy text for now. This is dummy text for now.</p>
                <button>JOIN ARENA</button>
            </div>
            <div class="each-card">
                <h4>Veteran<br>Arena</h4>
                <h3>$25</h3>
                <p>This is dummy text for now. This is dummy text for now. This is dummy text for now. This is dummy text for now.</p>
                <button>JOIN ARENA</button>
            </div>
            <div class="each-card">
                <h4>Champion<br>Arena</h4>
                <h3>$55</h3>
                <p>This is dummy text for now. This is dummy text for now. This is dummy text for now. This is dummy text for now.</p>
                <button>JOIN ARENA</button>
            </div>
        </div>

        <h2>CROWNED VICTOR EARNS UNLIMITED<br>ARENA ACCESS & HALL OF FAME STATUS</h2>
    </section>
{% endblock %}
